.ant-card-body{
  padding: 0 !important;
.ant-page-header{
  padding: 10px !important;
  font-size: 14px;
  .ant-page-header-heading-title{
    font-size: 18px !important;
  }
}

  .ant-form{
    margin-top: 20px;
  }
}
